<div>
    <div class="logo">
        <img class="img" src="/public/images/logo.png"/>
        <p class="text">Jaskirat Kaur</p>
    </div>
    <nav class="shadow-center">
        <a href="/admin">Manage Contacts</a>
        <a href="/logout">Logout</a>
    </nav>
</div>