<div>
    <div class="logo">
        <img class="img" src="/public/images/logo.png"/>
        <p class="text">Jaskirat Kaur</p>
    </div>
    <nav class="shadow-center">
        <a href="/"><i class="fas fa-home"></i>Home</a>
        <a href="/services"><i class="fas fa-star"></i>Services</a>
        <a href="/projects"><i class="fas fa-project-diagram"></i>Projects</a>
        <a href="/aboutme"><i class="fas fa-address-card"></i>About Me</a>
        <a href="/contact"><i class="fas fa-phone-square"></i>Contact</a>
    </nav>
</div>