<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div class="inner">
            <section class="section-main section-aboutme">
                <h1 class="title">About Me</h1>
                <img class="picture" src="/public/images/self.jpg"/><br/>
                <p>
                    Hi there, I am <b>Jaskirat Kaur</b>. I hope you have already surfed through the website and found my work likable. 
                    Here, you can download my resume and learn a bit more about me.<br/><br/>

                    I would really like to collaborate on open source projects if you have any for me. I welcome all types of work related queries and you can contact me on my the contact page of the website. For learning for about my educational background, you can download the resume by clicking the button below.
                </p>
                <a class="btn-s1" style="margin-bottom:0;" href="/public/docs/resume.docx">Download Resume</a>
            </section>
        </div>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>