<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div class="inner">
            <section class="section-main">
                <h1 class="title">Welcome to my portfolio,</h1>
                <p class="para-s1">
                    I am <b>Jaskirat Kaur</b>, a passionate programmer who loves turning coffee into code. I have been programming since I was 16 and have always strived to expand my knowledge and skill set in the field. This website is another self-created opportunity with which I expect exposure of my work to people so that I can collaborate with them.
                </p>
                <a class="btn-s1" href="/contact">Contact</a>
            </section>
            <section class="section-main">
                <h1 class="title">My Objective</h1>
                <p class="para-s1">
                    Through this portfolio I want to expand my network and interact with people that allow me to hone my technical skills to achieve business goals, develop improved processes for IT requests and accomplish projects in a more efficient way.
                </p>
            </section>
        </div>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>