<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div class="inner">
            <section class="section-main">
                <h1 class="title">Projects</h1>
                <div class="project">
                    <img src="/public/images/ps1.jpg"/>
                    <div class="content">
                        <h2 class="title">Planets</h2>
                        <p>This simple program used to load data about different planets from a file and displayed it in a readable format.</p>
                    </div>
                </div>
                <div class="project">
                    <img src="/public/images/ps2.jpg"/>
                    <div class="content">
                        <h2 class="title">BMI Calculator</h2>
                        <p>This app is used to calculate BMI result for a given weight and height in different units.</p>
                    </div>
                </div>
                <div class="project">
                    <img src="/public/images/ps3.jpg"/>
                    <div class="content">
                        <h2 class="title">Dollar Computer Store</h2>
                        <p>A simulated store app in which user can place order or load previous ones.</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>