<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div class="inner">
            <section class="section-main">
                <h1 class="title">Services</h1>
                <div class="service">
                    <h2 class="title">Website Maintenance</h2>
                    <p class="content">I'm available for hire as a website maintainer. I can help keep the website bug-free, optimized and search-engine friendly.</p>
                </div>
                <div class="service">
                    <h2 class="title">Website Designing</h2>
                    <p class="content">I can prepare mock-ups and prototypes for websites</p>
                </div>
                <div class="service">
                    <h2 class="title">Search Engine Optimization</h2>
                    <p class="content">I can improve your website's search-engine rankings by making it more semantic and using best-practices.</p>
                </div>
                <div class="service">
                    <h2 class="title">Graphics Designing</h2>
                    <p class="content">I can make some good artwork for your website, logos and more!</p>
                </div>
            </section>
        </div>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>